.resultadoSection{
    text-align: center;
}

h2{
    color: white;
    font-size: 24px;
}

.resultado{
    margin: 32px auto;
    width: 75%;
    background-color: #A53636;
    border-radius: 16px;
    padding: 32px;
}

.tirada{
    font-size: 48px;
    font-weight: 700;
}

@media screen and (width >= 768px) {
    .resultadoSection{
        width: 35%;
        margin-top: 32px;
    }

    .resultado{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .resultado p {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}