.resultadoSection{
    text-align: center;
    color: white;
}

h2{
    color: white;
    font-size: 24px;
}

.resultado{
    margin: 32px auto;
    width: 75%;
    height: 130px;
    background-color: #A53636;
    border-radius: 16px;
    padding: 32px;
    box-shadow: 1px 5px 3px #802a2a, inset 1px 1px 3px #df5e5e;;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.tirada{
    font-size: 48px;
    font-weight: 700;
}

.carga{
    font-size: 96px;
    margin: 0;
    animation: .5s infinite girar linear;
    filter: drop-shadow(1px 2px #0000006b);
}

@media screen and (width >= 768px) {
    .resultadoSection{
        width: 35%;
        margin-top: 32px;
    }

    .resultado{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .resultado p {
        display: flex;
        align-items: center;
        gap: 16px;
    }
}

@keyframes girar {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}