.botonera{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 8px;
    left: 18px;
    right: 18px;
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 8px;
}

@media screen and (width >= 768px ) {
    .botonera{
        width: 25%;
        left: 50%;
        transform: translateX(-50%);
        gap: 16px;
        bottom: 0;
    }
}
