.botonera{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 24px;
    left: 18px;
    right: 18px;
    max-width: 90%;
}

@media screen and (width >= 768px ) {
    .botonera{
        width: 25%;
        left: 50%;
        transform: translateX(-50%);
        gap: 16px;
        bottom: 0
    }
}
