footer{
    background-color: #A53636;
    position: fixed;
    bottom: 0;
    padding: 16px;
    text-align: center;
    width: 100%;
}

p{
    color: white;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: inherit;
}