.tiradorSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.tirador {
    width: 60%;
    padding: 8px;
    font-size: 32px;
    background-color: #b33535;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-transform: uppercase;
    border: none;
    border-radius: 16px;
    font-weight: 600;
}

.tirador:active{
    background-color: #cf4242;
}

.icono{
    transform: rotate(25deg);
}
